{% extends 'admin-panel.html' %}
{% block title %}Cambio de contraseña{% endblock %}
{% block content %}
    <header class="heading">
        <div class="heading__content">
            <h2 class="title">Cambio de contraseña.</h2>
            <p class="subtitle">En esta sección podrás cambiar tu contraseña.</p>
        </div>
    </header>
    <a
        href="{% url 'management:dashboard' %}"
        class="button button--main">
        <i class="bi bi-arrow-left"></i>
        <span>Volver atrás</span>
    </a>
    <form method="POST" class="form card">
        {% csrf_token %}
        {% include 'components/render_form.html' %}
        <div class="form__group">
            <button type="submit" class="button button--success">
                <i class="bi bi-save"></i>
                <span>Guardar cambios</span>
            </button>
        </div>
    </form>

{% endblock content %}