{% extends 'admin-panel.html' %}
{% block content %}
    <header class="heading">
        <div class="heading__content">
            <div>
                <h2 class="title">{{ title }}</h2>
                <p class="subtitle">{{ subtitle }}</p>
            </div>
        </div>
    </header>

     <a
         class="button button--main"
         href="{{ back_url }}"
        >
            <i class="bi bi-arrow-left"></i>
            <span>Volver atrás</span>
        </a>

    <form
            method="POST"
            enctype="multipart/form-data"
            style="margin-top: 2rem;"
            class="card form"
    >
        {% csrf_token %}
        <h4 class="card__value">Datos basicos</h4>
        <div class="form__group form__group--grid">
            <div class="form__group">
                <label class="form__label" for="id_first_name" data-required="True">Nombre</label>
                {{ form.first_name }}
            </div>
            <div class="form__group">
                <label class="form__label" for="id_last_name">Apellido</label>
                {{ form.last_name }}
            </div>
        </div>
        <div class="form__group form__group--grid">
            <div class="form__group">
                <label class="form__label" for="id_email" data-required="True">Correo electrónico</label>
                {{ form.email }}
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <p class="form__error">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form__group">
                <label class="form__label" for="id_phone_number" data-required="True">Número de teléfono</label>
                {{ form.phone_number }}
                {% if form.phone_number.errors %}
                    {% for error in form.phone_number.errors %}
                        <p class="form__error">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="form__group form__group--grid">
            <div class="form__group">
                <label class="form__label" for="id_document_type" data-required="True">Tipo de documento</label>
                {{ form.document_type }}
            </div>
            <div class="form__group">
                <label class="form__label" for="id_document_number" data-required="True">Número de documento</label>
                {{ form.document_number }}
                {% if form.document_number.errors %}
                    {% for error in form.document_number.errors %}
                        <p class="form__error">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="form__group">
            <label class="form__label" for="id_birthday" data-required="True">Tipo de usuario</label>
            {{ form.role }}
        </div>
        <div class="form__group">
            <label class="form__label" for="id_birthday">Fecha de nacimiento</label>
            {{ form.birthday }}
        </div>
        <div class="form__group">
            <label class="form__label" for="id_photo">Seleciona una imagen</label>
            <input
                    type="file"
                    name="photo"
                    id="id_photo"
                    accept="image/*"
                    class="form__input"
            >
        </div>
        <div class="form__group">
            <button type="submit" class="button button--success">
                <i class="bi bi-save"></i>
                <span>Guardar</span>
            </button>
        </div>
    </form>
{% endblock content %}